body{
    background-color: rgb(50, 172, 209);
}
h1{
    color: gold;
    position: absolute;
    top: 190px;
    left: 500px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: white;
    font-size: 70px;
    font-style: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 50px;
    left: 700px;
}
h3{
    color: greenyellow;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    top: 250px;
    left: 700px;
}
h4{
    color: rgb(7, 100, 58);
    font-style:normal;
    font-size: 32px;
    position: absolute;
    top: 300px;
    left: 610px;
    text-decoration-line: overline;
}
#inputField{
    font-size: 26px;
    width: 670px;
    height: 32px;
    position: absolute;
    top: 500px;
    left: 600px;
    border-top: chartreuse;
    
}
.button{
    font-size: 27px;
    color:rgb(30, 202, 233);
    background-color: rgb(20, 128, 122);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 500px;
    left: 1280px;
}
.display{
    position: absolute;
    top: 600px;
    left: 700px;
}
.list{
    font-size: 23px;
    border-style: groove;
    border-radius: 13px;
}