body{
   background: url(root/pictures/SkyWithClouds.jpg)
}
.input {
  position: absolute;
  top: 50px;
  left: 750px;
}
.input > #inputField{
    background: transparent;
}
#getWeatherBtn {
  border-radius: 10px;
  background-color: aqua;
}
.card{
    position: absolute;
    top: 120px;
    left: 750px;
    width: 18rem;
}
/* #moreInfo{
    position: absolute;
    top: 200px;
} */