body{
   background: url(root/pictures/SkyWithClouds.jpg)
}
.input {
  position: absolute;
  top: 50px;
  left: 750px;
}
.input > #inputField{
    background: transparent;
}
#getWeatherBtn {
  border-radius: 10px;
  background-color: aqua;
}
.card{
    position: absolute;
    top: 120px;
    left: 750px;
    width: 18rem;
}
.card-img-top{

}
.card-title{
    position:fixed;
    left: 870px;
    top: 340px;
    /* top: 36%;
    left: 45%;
    margin-top: 0px;
    margin-left: 0px; */
}
.card-body2{
    display:inline-flex;
}
.card-body2 > #day1{
width: 150px;
}
#moreInfo{
    position: absolute;
    top: 120px;
    left: 100px;
    height: 400px;
    width: 540px;
    background: transparent;
}
#moreInfo2{
    position: absolute;
    top: 630px;
    left: 250px;
    right: 100px;
    height: 200px;
    width: 1400px;
}
.vl {
    border-left: 6px solid green;
    height: 199px;
  }